<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/8090cef876.js"></script>
    <title>Main page</title>
    <style>
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 870px;
  height: 300px;
  position: relative;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
 }
.front img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.back {
  transform: rotateY(180deg);
}
.card:hover .front {
  transform: rotateY(180deg);}
.card:hover .back {
  transform: rotateY(360deg);}

.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  align-items: center;

}

.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: white;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}
.custom-colored-h1
{
    color: white;
}
h1 {
font-weight: bold;
}
h2 {
font-weight: normal;
}
#content {
  margin-top: 0px;
  overflow: hidden;
    font-family: verdana;
    font-size: 17px;
}
.col2 {
  width:auto;
  height:auto;
  float:left;
}

body {
background: url(../static/images/1000.jpg) no-repeat;
background-size: 100%;
margin:0;
}


.topnav {
    background-color: #333;
    overflow: hidden;
    width: auto;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav button{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: orange;
    color: white;
}



    </style>

</head>
<body font-family:'verdana', sans-serif;/>




<div class="topnav">
  <a  href="../../">Willkommen</a>
  <a  href="../../book">Wörterbuch</a>
  <a href="../../cards">Karten</a>
  <a class="active" href="../../cards/comands_cards">MILITÄRBEFEHLE</a>
  <a href="../../tour">Runden</a>
</div>


<div class="col2" id="content">
    <h1 class="custom-colored-h1"><b> Karten</b> </h1>
    <h1 class="custom-colored-h1"> MILITÄRBEFEHLE </h1>

    <div class="slider">
        <div class="slider__wrapper">
            <div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                    <div class="wrapper">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="5">
                                        <h1>
                                            Jawohl!
                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="5">
                                        <h1>
                                            Так точно!
                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="5">
                                        <h1>


0ein, doch!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="5">
                                        <h1>
Никак нет!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="5">
                                        <h3>


Ich bitte sprechen zu d0rfen!

                                        </h3>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="5">
                                        <h1>
Разрешите обратиться!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="5">
                                        <h1>


Abteilung, Halt!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="5">
                                        <h1>
Подразделение, стой!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="5">
                                        <h1>


Abz0hlen!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="5">
                                        <h1>
Рассчитайся!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Achtung!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Внимание!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Augen gerade, aus!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Равнение на середину!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Augen, links!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Равнение налево!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Augen, rechts!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Равнение направо!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


In Doppelreihe, angetreten!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
В колонну по-два становись!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Im Gleichschritt, Marsch!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Прямо! (с места)

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Gerade aus!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Прямо! (идти)

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Halt, wer da!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Стоять на месте!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h2>


Laufschritt!/ Laufen Sie!

                                        </h2>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Бегом!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Stillgestanden!
                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Смирно!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Wegetreten!/ Auseinanderziehen!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Разойдись!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


R0hrt euch!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Вольно!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Gehen links, gehen rechts!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Налево (направо)!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Hinlegen!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Лечь (ложись)!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Aufstehen!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Встать!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Sofort!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Срочно!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Schnell!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Быстрее!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Los!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Вперед!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Jetzt!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Сейчас!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Zur0ck!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Назад!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>


Zu Befehl!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>
Приказ понял!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h2>


Ganze Abteilung Kehrt!
                                        </h2>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h4>
Кругом (применяется для всего подразделения)!

                                        </h4>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>



<div class="slider__item">
                <div align="center" style="font-color: white; height: 500px; background-color: white;background-size: cover;/">
                        <div class="card">
                            <div class="front">
                                <span>
                                    <font color="black"; size="7">
                                        <h1>

Kehrt!

                                        </h1>
                                    </font>
                                </span>
                            </div>
                            <div class="back">
                                <span>
                                    <font color="black"; size="7">
                                        <h4>Кругом (применяется для одного солдата)

                                        </h4>
                                    </font>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>







        </div>
    <a class="slider__control slider__control_left" href="#" role="button"></a>
    <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>

</div>


  <script>
    'use strict';
    var multiItemSlider = (function () {
      return function (selector, config) {
        var
          _mainElement = document.querySelector(selector), // основный элемент блока
          _sliderWrapper = _mainElement.querySelector('.slider__wrapper'), // обертка для .slider-item
          _sliderItems = _mainElement.querySelectorAll('.slider__item'), // элементы (.slider-item)
          _sliderControls = _mainElement.querySelectorAll('.slider__control'), // элементы управления
          _sliderControlLeft = _mainElement.querySelector('.slider__control_left'), // кнопка "LEFT"
          _sliderControlRight = _mainElement.querySelector('.slider__control_right'), // кнопка "RIGHT"
          _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width), // ширина обёртки
          _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width), // ширина одного элемента
          _positionLeftItem = 0, // позиция левого активного элемента
          _transform = 0, // значение транфсофрмации .slider_wrapper
          _step = _itemWidth / _wrapperWidth * 100, // величина шага (для трансформации)
          _items = []; // массив элементов
        // наполнение массива _items
        _sliderItems.forEach(function (item, index) {
          _items.push({ item: item, position: index, transform: 0 });
        });

        var position = {
          getMin: 0,
          getMax: _items.length - 1,
        }

        var _transformItem = function (direction) {
          if (direction === 'right') {
            if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) >= position.getMax) {
              return;
            }
            if (!_sliderControlLeft.classList.contains('slider__control_show')) {
              _sliderControlLeft.classList.add('slider__control_show');
            }
            if (_sliderControlRight.classList.contains('slider__control_show') && (_positionLeftItem + _wrapperWidth / _itemWidth) >= position.getMax) {
              _sliderControlRight.classList.remove('slider__control_show');
            }
            _positionLeftItem++;
            _transform -= _step;
          }
          if (direction === 'left') {
            if (_positionLeftItem <= position.getMin) {
              return;
            }
            if (!_sliderControlRight.classList.contains('slider__control_show')) {
              _sliderControlRight.classList.add('slider__control_show');
            }
            if (_sliderControlLeft.classList.contains('slider__control_show') && _positionLeftItem - 1 <= position.getMin) {
              _sliderControlLeft.classList.remove('slider__control_show');
            }
            _positionLeftItem--;
            _transform += _step;
          }
          _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
        }

        // обработчик события click для кнопок "назад" и "вперед"
        var _controlClick = function (e) {
          if (e.target.classList.contains('slider__control')) {
            e.preventDefault();
            var direction = e.target.classList.contains('slider__control_right') ? 'right' : 'left';
            _transformItem(direction);
          }
        };

        var _setUpListeners = function () {
          // добавление к кнопкам "назад" и "вперед" обрботчика _controlClick для событя click
          _sliderControls.forEach(function (item) {
            item.addEventListener('click', _controlClick);
          });
        }

        // инициализация
        _setUpListeners();

        return {
          right: function () { // метод right
            _transformItem('right');
          },
          left: function () { // метод left
            _transformItem('left');
          }
        }

      }
    }());

    var slider = multiItemSlider('.slider')

  </script>


</body>
</html>